html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #efe8dc; 
  }

  header {
    width: 100%;
    height: 30vh;
    background: url(https://video-images.vice.com/articles/5943107f86d77356702d66a9/lede/1497567544495-MCockrill_Exploding-Businessmen-Bunnies-New-York-Times_2017.jpeg?crop=1xw:0.7174xh;0xw,0xh&resize=1600:*) no-repeat 50% 50%;
    background-size: cover;
  }

nav {
    position: fixed;
    width: 100%;
    padding: 0;
    text-align: right;
    background: rgba(0,0,0,0);
    transition: 2s; 
    height: 100px;
  }

nav.black {
  background: black;
  color: white;
  max-height: 15vh;
}

.logo {
    text-transform: uppercase;
    position: fixed;
    float: left;
    margin: 16px 36px;
    color:white;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
  }

/* ICONS */
i {
  font-size: 35px;
}

.menu-icon {
  width: 100%;
  /* background: #000; */
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.img-icon, .info-icon {
float: left;
position: relative;
margin: 10px 24px;
cursor: pointer;
color: black;
margin-top: 120px;
}


/* BUTTONS */
  button {
  margin: 24px 16px;
  background: none;
  color: white;
  border:none;
  border-radius: 2px;
  text-shadow: 1px 2px black;
  font-weight: 900;
  padding: 15px 32px;
  text-transform: uppercase;
  font-size: 16px;
  }

  button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-shadow: none;
  }

@media(max-width: 760px) {
  menu {
    width: 100%;
    margin: 10;
    padding: 10;
  }

  button {
    display: none;
  }

  header {
  background: black;
  max-height: 15vh;
  }

  .info-icon {
  display: none;
  }

  .img-icon {
    display: none;
    }

  .menu-icon {
    display: block;
  }

  .logo {
    position: fixed;
    top: 0; 
    margin-top: 16px;
  } 

  .show {
    display: flex;
    max-height: 20vh;
    width: 100%;
    background-color: black;
  }
}

.sentimentWordSearch {
  cursor: pointer;
}

/* MODAL */
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
  display: none;
  overflow: auto;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

#modal-textbox {
  background-color: white;
  text-align: justify;
	/* height: 350px; */
  width: 50%;
  color:black;
	/* border-radius: 2px; */
	margin: 15vh auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 5vh;
}

.closeModal {
  cursor: pointer;
}
/* MAIN BODY CSS */ 

h1 {
  text-align: center;
  /* margin: 5%; */
  text-transform: uppercase;
  font-size: 24px;
}

#national{
  margin-top: 10%;
  margin-bottom: 15%;
}

.overview {
  text-align: center;
  padding: 4px 32px;
}

.overview-hide {
  display: none;
}

#loader {
  display: none;
  position: relative;
  /* left: 50%;
  top: 50%; */
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #06256A;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader.show {
  display: block;
}
/* TABLE */

table, td, th {  
  border: .5px solid #efe8dc;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
th {
  text-transform: uppercase;
  font-weight: 900;
}
th, td {
  padding: 15px;
  width: 20%;
  text-align: center;
}

/*IMG CSS*/
img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: none;
}

img.show {
  display: block;
}


/*CARDS*/ 
.card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px 16px;
    margin: 5%;
    /* margin-left: 5%;
    margin-right: 5%; */
  }

.card {
    float: left;
    width: 30%;
    margin: .5%;
    box-shadow: 0 4px 8px 0 rgba(251, 167, 151, 0.2);
    border-radius: 5px;
    /* padding: .1% .5%; */
    background: white;
    /* font-family: 'Playfair Display', serif; */
    font-size: 20px;
    overflow: scroll;
  }

.headline {
  margin: 10px;
  line-height: 1.2;
  font-weight: bold;
  padding: 10%;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}

.positive {
  background-color:  rgba(49,178,99, 0.7);
}

.negative {
  background-color:  rgba(178,49,64, 0.7);
}