html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #efe8dc; 
  }

  header {
    width: 100%;
    height: 30vh;
    background: url(https://video-images.vice.com/articles/5943107f86d77356702d66a9/lede/1497567544495-MCockrill_Exploding-Businessmen-Bunnies-New-York-Times_2017.jpeg?crop=1xw:0.7174xh;0xw,0xh&resize=1600:*) no-repeat 50% 50%;
    background-size: cover;
  }

nav {
    position: fixed;
    width: 100%;
    padding: 0;
    text-align: right;
    background: rgba(0,0,0,0);
    transition: 1s; 
    height: 100px;
  }

nav.black {
  background: black;
  color: white;
  height: 100px;
}

.logo {
    text-transform: uppercase;
    position: fixed;
    float: left;
    margin: 16px 36px;
    color:white;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
  }

button {
  margin: 24px 16px;
  background: none;
  color: white;
  border:none;
  border-radius: 2px;
  text-shadow: 1px 2px black;
  font-weight: 900;
  padding: 15px 32px;
  /* text-align: center; */
  text-transform: uppercase;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 16px;
  }

.menu-icon {
    width: 100%;
    height: 12vh;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
  }
  

@media(max-width: 760px) {
  menu {
    width: 100%;
    margin: 10;
    padding: 10;
  }
  button {
    /* max-height: 0px;
    background: black;
    box-sizing: border-box;
    width: 100px; */
    display: none;
    /* padding: 0;
    margin:0; */
  }

header {
  background: none;
}
  .menu-icon {
    display: block;
  }

  .logo {
    position: fixed;
    top: 0; 
    margin-top: 16px;
  } 

  .show {
    display: flex;
    max-height: 20em;
    width: 100%;
    background-color: black;
  }
}


button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  text-shadow: none;
}

/* main {
  margin: 0em auto;
} */

/* MAIN BODY CSS */ 
/* TABLE */
table, td, th {  
  border: 1px solid #ddd;
  /* text-align: left; */
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

th, td {
  padding: 15px;
  width: 20%;
}

.overview {
  text-align: center;
  padding: 4px 32px;
}

.word-cloud {
  background: white;
  padding: 5%;
  margin: 5%;
  border-radius: 5px;
  text-align: justify;
}

.card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px 16px;
    margin-left: 5%;
    margin-right: 5%;
  }

.card {
    float: left;
    width: 30%;
    margin: .5%;
    box-shadow: 0 4px 8px 0 rgba(251, 167, 151, 0.2);
    border-radius: 5px;
    padding: .5%;
    background: white;
    /* font-family: 'Playfair Display', serif; */
    overflow: scroll;
  }

.card:hover {
    background-color: rgba(251, 167, 151, 0.2);
  }

p {
  line-height: 1.5;
  font-weight: bold;
  display: block;
  padding: 10%;
}

a {
  color: black;
  text-decoration: none;
}